:root {
    --MyYellow: #F2D13E;
    --MyDarkGrey: #3E454C;
    --MyMiddleGrey: #828282;
    --MyLightGrey: #F6F6F6;
    --GlobalMarginLeft: 2%;
    --GlobalWidth: 94%;
    --GlobalFont: Calibri;
    --HeaderHeight: 108px;
}

.header {
    display: flex;
    align-items:center;
    margin-left: var(--GlobalMarginLeft);
    margin-top: 9px;
    width: var(--GlobalWidth);
    height: var(--HeaderHeight);
    background-color: var(--MyYellow);
}

.HeaderTitle {
    padding-left: 18px;
}
    .HeaderTitle a{
        font-family: var(--GlobalFont);
        font-weight: bold;
        font-size: 72px;
        color: var(--MyDarkGrey);
        text-decoration:none
    }

.HeaderMenu {
    width: 200px;
    height: 18px;
    font: bold 1.1em var(--GlobalFont);
    color: var(--MyDarkGrey);
    text-decoration: none;
}

.Body {
    font-family: var(--GlobalFont);
    width: var(--GlobalWidth);
    height: 100%;
    margin-left: var(--GlobalMarginLeft);
}

.MainMenuLocate {
    display: inline-block;
    width: 178px;
    vertical-align: top;
    margin-top: 18px;
}

.ContentBlock {
    display: inline-block;
    width: calc(100% - 202px);
    margin-top: 18px;
    margin-left:18px;
}

.ContentCaption{
    display: block;
    text-align: center;
    font-family: var(--GlobalFont);
    font-weight: bold;
    font-size: 36px;
    background-color: var(--MyLightGrey);
    width:100%;
    height:54px;
}

.ContentColumn {
    width: 75%;
    margin: 0 auto;
    margin-top:10px;
}

.TileGrid {
    display: block;
    text-align: center;
    margin-top:36px;
}

.TileCell {    
    width: 302px;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 18px;
    margin-bottom: 18px;  
}

    .TileCell a {
        font: bold 16px var(--GlobalFont);
        color: white;
        text-decoration: none;
    }

    .TileCell a:hover {
        color: var(--MyYellow);
    }

.TileCellPic {
    background-color: var(--MyLightGrey);
    line-height: 269px;
}
    .TileCellPic img {
        vertical-align: middle;
    }

.TileCellCaption {
    text-align: center;
    line-height: 18px;
    background-color: var(--MyDarkGrey);
    padding-top: 3px;
    padding-bottom: 9px;
}

.PhotoPlace {
    text-align: center;
    margin: 0 auto;
}

.PhotoCell {
    width: 142px;
    margin-top: 18px;
    margin-left: 9px;
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
}

    .PhotoCell a {
        text-decoration: none;
    }

    .PhotoCell a:hover {
        color: var(--MyYellow);
    }

.CurrentPhoto {  
    display: inline-block;
    height: 73vh;
    margin: 0 auto;
    margin-top:18px;
}

.MenuList a {
    width: 160px;
    height: 54px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    text-decoration: none;
    font: bold 1.1em var(--GlobalFont);
    background-color: var(--MyLightGrey);
    color: Black;
}

    .MenuList a:hover {
        background-color: var(--MyDarkGrey);
        color: var(--MyYellow);
    }

.TextLink {
    font-weight:bold;
    color: var(--MyMiddleGrey);
    text-decoration: none;
}

    .TextLink:hover {
        color: var(--MyDarkGrey);
    }

.Button {
    width: 50px;
    display: flex;
    align-items: center;
    height: 75vh;
    text-align:center;
}